@model P4P.ViewModel.NewWinkelmand
@{
    ViewBag.Title = @Model.product.Naam;
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />
<style>
    body {
        background-color: whitesmoke;
    }
</style>

<h4><a href="~/Winkel">Home > </a><a href="~/Winkel/Categorie/@Model.product.Hoofdcategorie.Id">@Model.product.Hoofdcategorie.Naam</a> 
    @if (Model.product.Subcategorie != null)
    {
        <a href="~/Winkel/SubCategorie/@Model.product.Subcategorie.Id">> @Model.product.Subcategorie.Naam</a>
    }
</h4>
<h2>@Model.product.Naam</h2>
<div class="navigatie">
    <h5><a href="~/Winkel/Categorie/@Model.product.Hoofdcategorie.Id">@Model.product.Hoofdcategorie.Naam</a> > @Model.product.Subcategorie.Naam</h5>
</div>

@*<h4><a href="~/Winkel/Categorie/@Model.product.Hoofdcategorie.Id">@Model.product.Hoofdcategorie.Naam</a> > <a href="~/Winkel/SubCategorie/@Model.product.Subcategorie.Id">@Model.product.Subcategorie.Naam</a></h4>*@

<div class="card card-producten">
    <h2>@Model.product.Naam</h2>

    @using (Html.BeginForm("Artikelpagina", "Winkel"))
    {
        @Html.LabelFor(m => m.product.Code)
        @Html.TextBoxFor(m => m.product.Code, new { disabled = "True" })
        @Html.ValidationMessageFor(m => m.product.Code)

        @Html.LabelFor(m => m.product.Prijs)
        @Html.TextBoxFor(m => m.product.Prijs, new { disabled = "True" })
        @Html.ValidationMessageFor(m => m.product.Prijs)

        @Html.LabelFor(m => m.product.Beschrijving)
        @Html.TextAreaFor(m => m.product.Beschrijving, new { disabled = "True" })
        @Html.ValidationMessageFor(m => m.product.Beschrijving)
        <p>@Model.product.Beschrijving</p>

        @Html.LabelFor(m => m.product.Specificaties)
        @Html.TextAreaFor(m => m.product.Specificaties, new { disabled = "True" })
        @Html.ValidationMessageFor(m => m.product.Specificaties)


        <div class="form-group">
            @Html.LabelFor(m => m.winkelwagen.Aantal)
            @Html.TextBoxFor(m => m.winkelwagen.Aantal, new { @type = "Number", @class = "form-control", required = "True" })
            @Html.ValidationMessageFor(m => m.winkelwagen.Aantal)
        </div>
        @Html.HiddenFor(m => m.product.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">In winkelmand</button>
    }
    </div>
    @using (Html.BeginForm("AddFavoriet", "Favorieten"))
    {

    }
