@model P4P.ViewModel.NewWinkelmand
@{
    ViewBag.Title = @Model.product.Naam;
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />
<style>
    body {
        background-color: whitesmoke;
    }
</style>


<div class="navigatie">
    <h5><a href="~/Winkel">Home</a> > <a href="~/Winkel/Categorie/@Model.product.Hoofdcategorie.Id">@Model.product.Hoofdcategorie.Naam</a> > 
    @if (Model.product.Subcategorie != null)
    {
        <a href="~/Winkel/SubCategorie/@Model.product.Subcategorie.Id">@Model.product.Subcategorie.Naam</a> <text>></text>
    }@Model.product.Naam</h5>
</div>

<div class="card card-producten">
    <h4>@Model.product.Naam</h4>
    <div class="row">
        <div class="col-md-6">
            <p class="text-right"><b>Product code:</b></p>
        </div>
        <div class="col-md-6">
            <p class="text-left">@Model.product.Code</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="text-right"><b>Prijs:</b></p>
        </div>
        <div class="col-md-6">
            <p class="text-left">€@Model.product.Prijs</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="text-right"><b>Beschrijving:</b></p>
        </div>
        <div class="col-md-6">
            <p class="text-left">@Model.product.Beschrijving</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="text-right"><b>Specs:</b></p>
        </div>
        <div class="col-md-6">
            <p class="text-left">@Model.product.Specificaties</p>
        </div>
    </div>

    @using (Html.BeginForm("Artikelpagina", "Winkel"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.winkelwagen.Aantal)
            @Html.TextBoxFor(m => m.winkelwagen.Aantal, new { @type = "Number", @class = "form-control", required = "True" })
            @Html.ValidationMessageFor(m => m.winkelwagen.Aantal)
        </div>
        @Html.HiddenFor(m => m.product.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">In winkelmand</button>
    }
</div>
    @using (Html.BeginForm("AddFavoriet", "Favorieten"))
    {

    }
