@model P4P.ViewModel.IndexWinkel

@{
    ViewBag.Title = "Home";
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />
<link rel="stylesheet" type="text/css" href="~/Content/customtwitter.css" media="screen" />
<style>body {background-color: whitesmoke;}</style>

<div class="big">
    <header class="l-relative">
        <!--Gradient-->
        <div class="background-grass gradient">
            <h1>Jansma Haule</h1>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    @using (Html.BeginForm("Search", "Winkel"))
                    {
                        <input type="text" class="form-control input-lg" name="search" placeholder="Zoek naar producten"/>
                        <span class="input-group-btn">
                            @Html.AntiForgeryToken()
                            <button id="zoeken" class="btn btn-info btn-lg" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    }
                </div>
            </div>
        </div>
    </header>
</div>

<div class="row row-centered">
    <div class="col-md-6">
        <div class="card links">
            <img class="round" src="http://lorempixel.com/400/400/animals">
            <h5>Welkom @Model.gebruiker.Voornaam @Model.gebruiker.Tussenvoegsel @Model.gebruiker.Achternaam</h5>
            <div class="streep"></div>
            <h6>Veel plezier op onze vernieuwde webwinkel!</h6>
        </div>

        <div class="card links">
            <div class="row row-centered">
                <div class="col-xs-12 col-centered">
                    <a href="~/Favorieten"class="waves-effect waves-light btn btn-primary">Favorieten</a>
                </div>
                <div class="col-xs-12 col-centered">
                    <a href="~/Winkel/Quickorder" class="waves-effect waves-light btn btn-primary">Snel zoeken & Bestel</a>
                </div>
                <div class="col-xs-12 col-centered">
                    <a href="~/Bestel/AfgerondBestellingen" class="waves-effect waves-light btn btn-primary">Afgeronde Bestellingen</a>
                </div>
            </div>
        </div>

        <div class="card links">
            <center><h5>Categoriën</h5></center>
            @foreach (var c in Model.hoofdcategorie)
            {
                <a href="~/Winkel/Categorie/@c.Id"><div class="col-xs-4 col-centered clickable categorie kleiner">
                    <h5 class="center" href="">@c.Naam</h5>
                </div></a>
            }
        </div>
    </div>
    <div class="col-md-6">
       <div class="card rechts">
            <h5>Aanbiedingen</h5>
            @foreach (var aanbieding in Model.aanbiedingen)
            {
                string image = aanbieding.Code + ".jpg";
                <div class="aanbieding clickable">
                    <img src="~/Content/Images/@image" class="aanbiedingimg col-md-4"/>
                    <div class="aanbiedingtekst col-md-8">
                        <h5>@aanbieding.Naam</h5>
                        <h6>Nu voor maar €@aanbieding.Aanbiedingprijs</h6>
                    </div>
                </div>
            }
        </div>
        <div class="card rechts">
            <h5>Meldingen</h5>
            @foreach (var melding in Model.meldingen)
            {
                <div class="alert alert-info">
                    <button href="#" type="button" class="close"></button>
                    <h4>@melding.Naam</h4>
                    <p>@melding.Message</p>
                </div>
            }
        </div>
        <div class="card rechts">
            <h5>Twitter</h5>
            <a class="twitter-timeline" href="https://twitter.com/BaronJansma" data-chrome="noheader nofooter transparent noscrollbar noborders"data-widget-id="382128209740832768">Tweets door BaronJansma</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        </div>
    </div>
</div>


@section scripts
{   
    <script>
        $(document).ready(function () {
            $(".links").hide();
            $(".rechts").hide();
            $(".links").each(function (i) {
                $(this).delay(i * 600).slideToggle(1200);
            })
            $(".rechts").each(function (i) {
                $(this).delay(i * 600).slideToggle(1200);
            })
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('body').hide(0).fadeIn(800);
            //$('#categories').animate({
            //    opacity: 0
            //}, 1);

            $('.aanbieding').animate({
                opacity: 0
            }, 1);
            $(".aanbieding").delay(1000).each(function (i) {
                $(this).delay(i * 400).animate({
                    opacity: 1
                }, 400);
            })
        });
    </script>
}

