@model IEnumerable<P4P.Models.Product>
@{
    ViewBag.Title = "Zoeken";
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style> body {background-color: whitesmoke;}</style>

<div class="big">
    <header class="l-relative">
        <!--Gradient-->
        <div class="background-grass gradient">
            <h1>Jansma Haule</h1>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    @using (Html.BeginForm("Search", "Winkel"))
                    {
                        <input type="text" class="form-control input-lg" name="search" placeholder="Zoek naar producten" />
                        <span class="input-group-btn">
                            @Html.AntiForgeryToken()
                            <button id="zoeken" class="btn btn-info btn-lg" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    }
                </div>
            </div>
        </div>
    </header>
</div>

<div class="card card-producten">
    @if (Model.Any())
    {
        <center><h5>Zoekresultaten voor: @ViewBag.zoek</h5></center>
        <div class="row row-centered">
            @foreach (var product in Model)
            {
                string image = product.Code + ".jpg";
                <a href="~/Winkel/Artikelpagina/@product.Id">

                    <div class="col-xs-3 col-centered clickable categorie cat-img">
                        <div class="row">
                            <div class="col-xs-6">
                                <img src="~/Content/Images/@image" class="cat-image" />
                            </div>
                            <div class="col-xs-6">
                                <!--VUL HIER NOG DE GOEIE FAVORIETEN HREF IN (OOK IN SUBCATEGORIE.CSHTML)-->
                                <div class="col-md-12">
                                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>

                                </div>
                                <h4 class="center">
                                    @product.Naam
                                </h4>
                                <h6 class="center">€@product.Prijs per @product.Verkoopeenheid stuks</h6>
                            </div>
                        </div>
                        <div class="row nomargin">
                            <div class="col-xs-6">
                                <a href="~/Winkel/Artikelpagina/@product.Id" class="waves-effect waves-light btn btn-primary blue bestelknop">Bekijk</a>
                            </div>
                            <div class="col-xs-6">
                                <!--VUL HIER NOG DE GOEIE HREF IN (OOK IN SUBCATEGORIE.CSHTML)-->
                                <a href="" class="waves-effect waves-light btn btn-primary green bestelknop">Bestel</a>
                            </div>
                        </div>
                    </div>

                </a>
            }
        </div>
    }
    else
    {
        <center><h5>Geen zoekresultaten voor: @ViewBag.zoek</h5></center>
    }
</div>

