@model IEnumerable<P4P.Models.Product>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<h3>Overzicht van gebruikers</h3>

<p>
    @Html.ActionLink("Nieuw Artikel", "CreateArtikel", "Artikel", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Nieuwe categorie", "CreateHoofdcategorie", "Categorie", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Nieuwe aanbieding", "Index", "Aanbieding", null, new { @class="btn btn-primary"})
</p>
<table id="artikelen" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Code</th>
        <th>Naam</th>
        <th>Verkoopeenheid</th>
        <th>Beschrijving</th>
        <th>Prijs</th>
        <th>Hoofdcategorie</th>
        <th>Subcategorie</th>
        <th>Aanpassen</th>
        <th>Verwijderen</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Code</td>
                <td>@product.Naam</td>
                <td>@product.Verkoopeenheid</td>
                <td>@product.Beschrijving</td>
                <td>€@product.Prijs</td>
                @if (product.Hoofdcategorie != null)
                {
                    <td>@product.Hoofdcategorie.Naam</td>
                }
                else
                {
                    <td>Geen Hoofdcategorie</td>
                }
                @if (product.Subcategorie != null)
                {
                    <td>@product.Subcategorie.Naam</td>
                }
                else
                {
                    <td>Geen Subcategorie</td>
                }
                <td>@Html.ActionLink("Aanpassen", "EditArtikel", "Artikel", new { id=product.Id}, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("Verwijderen", "Delete", "Artikel", new { id = product.Id }, new { @class = "btn btn-primary", onclick = "return confirm('Deze actie is permanent en kan nie ongedaan worden gemaakt!');" })</td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#artikelen').dataTable({
                "language": {
                    "sProcessing": "Bezig...",
                    "sLengthMenu": "_MENU_ resultaten weergeven",
                    "sZeroRecords": "Geen resultaten gevonden",
                    "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                    "sInfoEmpty": "Geen resultaten om weer te geven",
                    "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                    "sInfoPostFix": "",
                    "sSearch": "Zoeken:",
                    "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                    "oPaginate": {
                        "sFirst": "Eerste",
                        "sLast": "Laatste",
                        "sNext": "Volgende",
                        "sPrevious": "Vorige"
                    },
                    "oAria": {
                        "sSortAscending": ": activeer om kolom oplopend te sorteren",
                        "sSortDescending": ": activeer om kolom aflopend te sorteren"
                    }
                }
            });
        });
</script>
}