@model P4P.ViewModel.NewArtikelViewModel
@{
    ViewBag.Title = "SetSubcategorie";
}

<h2>SetSubcategorie</h2>
@if (Model.Subcategorie.Any())
{
    using (Html.BeginForm("SetSubcategorie", "Artikel", FormMethod.Post, new {id = "artikelForm"}))
    {
        <div id="bottomform">
            <center>
                <h4>Subcategorie</h4>
            </center>
            <div class="row nomargin">
                <div class="form-group input-field col-md-12">
                    @Html.LabelFor(m => m.Subcategorie)
                    @Html.DropDownListFor(m => m.Product.Subcategorie.Id, new SelectList(Model.Subcategorie, "Id", "Naam"), "", new {@class = "form-control", id = "dropdown1"})
                    @Html.ValidationMessageFor(m => m.Subcategorie)
                </div>
            </div>
            <div class="row nomargin">

                <div class="col-md-6">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Product.Id)
                    <button type="submit" class="btn btn-primary">Opslaan</button>
                </div>

            </div>
        </div>
    }
}
else
{
    <p>Geen subcategorieën onder deze hoofdcategorie. Klik op overslaan om verder te gaan.</p>
}
@Html.ActionLink("Overslaan", "Index", "Artikel", new {@class = "btn btn-primary"})
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

