@model P4P.Models.Hoofdcategorie
@{
    ViewBag.Title = "CreateHoofdcategorie";
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />

<div class="card card-producten card-centered">
    <h4>Nieuwe hoofdcategorie</h4><br />

    <p>
        <button class="btn btn-primary" onclick="goBack()">Annuleren</button>
    </p>
    @using (Html.BeginForm("CreateHoofdcategorie", "Categorie", FormMethod.Post, new { id = "registerForm" }))
    {
        if (ViewBag.message != null)
        {
            <h2>@ViewBag.message</h2>
        }
        <div class="form-group">
            @Html.LabelFor(m => m.Naam)
            @Html.TextBoxFor(m => m.Naam, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Naam)
        </div>

        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Maak</button>
    }
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


