@model P4P.ViewModel.NewSubcategorie
@{
    ViewBag.Title = "CreateSubcategorie";
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />

<div class="card card-producten card-centered">
    <h4>Nieuwe Subcategorie in @Model.Hoofdcategorie.Naam</h4><br />

    <p>
        <button class="btn btn-primary" onclick="goBack()">Annuleren</button>
    </p>
    @using (Html.BeginForm("CreateSubCategorie", "Categorie", FormMethod.Post, new { id = "registerForm" }))
    {
        if (ViewBag.message != null)
        {
            <h2>@ViewBag.message</h2>
        }
        <div class="form-group">
            @Html.LabelFor(m => m.Subcategorie.Naam)
            @Html.TextBoxFor(m => m.Subcategorie.Naam, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Subcategorie.Naam)
        </div>

        @Html.HiddenFor(m => m.Hoofdcategorie.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Maken</button>
    }
    </div>

    @section scripts
{
        @Scripts.Render("~/bundles/jqueryval")
    }


