@model P4P.Models.Subcategorie
@{
    ViewBag.Title = "EditSubCategorie";
}

<h2>EditSubCategorie</h2>

<p>
    @Html.ActionLink("Terug", "Details", "Categorie", new { id = Model.Hoofdcategorie.Id }, new { @class = "btn btn-primary" })
</p>
@using (Html.BeginForm("EditSubCategorie", "Categorie", FormMethod.Post, new { id = "registerForm" }))
{
    if (ViewBag.message != null)
    {
        <h2>@ViewBag.message</h2>
    }
    <div class="form-group">
        @Html.LabelFor(m => m.Naam)
        @Html.TextBoxFor(m => m.Naam, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Naam)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Register</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

