@model  IEnumerable<P4P.Models.Hoofdcategorie>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<h3>Overzicht van gebruikers</h3>

<p>
    @Html.ActionLink("Dashboard", "Index", "Home", null, new { @class = "btn btn-primary"})
    @Html.ActionLink("Nieuw Artikel", "New", "Artikel", null, new {@class = "btn btn-primary"})
    @Html.ActionLink("Nieuwe hoofdcategorie", "CreateHoofdcategorie", "Categorie", null, new {@class = "btn btn-primary"})
</p>
<table id="categorieen" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Hoofdcategorie</th>
        <th>Open</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var categorie in Model)
    {
        <tr>
            <td>@categorie.Naam</td>
            <td>@Html.ActionLink("Open", "Details", "Categorie", new { categorie.Id }, new { @class = "btn btn-primary" })</td>
            <td>@Html.ActionLink("Edit", "EditHoofdcategorie", "Categorie", new { id=categorie.Id}, new { @class = "btn btn-primary"})</td>
            <td>@Html.ActionLink("Delete", "DeleteHoofdCategorie", "Categorie", new { id = categorie.Id }, new { @class = "btn btn-primary", onclick = "return confirm('Deze actie is permanent en kan nie ongedaan worden gemaakt!');" })</td>
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function() {
            $('#categorieen').dataTable({
                "language": {
                    "sProcessing": "Bezig...",
                    "sLengthMenu": "_MENU_ resultaten weergeven",
                    "sZeroRecords": "Geen resultaten gevonden",
                    "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                    "sInfoEmpty": "Geen resultaten om weer te geven",
                    "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                    "sInfoPostFix": "",
                    "sSearch": "Zoeken:",
                    "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                    "oPaginate": {
                        "sFirst": "Eerste",
                        "sLast": "Laatste",
                        "sNext": "Volgende",
                        "sPrevious": "Vorige"
                    },
                    "oAria": {
                        "sSortAscending": ": activeer om kolom oplopend te sorteren",
                        "sSortDescending": ": activeer om kolom aflopend te sorteren"
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            @if (ViewBag.Success == "true")
            {
                @:toastr.success("Opgeslagen");
            }
            else if (ViewBag.Success == "false")
            {
                @:toastr.error("@ViewBag.Errormessage");
            }
        });
    </script>
}