@using System.Web.UI.WebControls
@model P4P.Models.Contact
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
@using (Html.BeginForm("Contact", "Home"))
{
    if (ViewBag.message != null)
    {
        <h2>@ViewBag.message</h2>
    }
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Message)
        @Html.TextAreaFor(m => m.Message, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Message)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new {@class = "form-control", type = "email"})
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new {@class = "form-control", type = "tel"})
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Send</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}