@model P4P.ViewModel.BedrijfDisplayViewModel
@{
    ViewBag.Title = "Bedrijf";
}

<h2>Bedrijf</h2>
<h3>Beheer van bedrijf</h3>
<p>
    @Html.ActionLink("Werknemer toevoegen", "CreateWerknemer", "Profiel", null, new { @class="btn btn-primary"})
</p>
<div id="formcard" class="card horizontal">
    <div class="card-image" style="width: 8vw;">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            @using (Html.BeginForm("Bedrijf", "Profiel"))
            {
                <div id="topform">

                    <div class="row nomargin">
                        <center>
                            <h4>Bedrijf</h4>
                        </center>
                        <div class="row nomargin">
                            <div class="form-group input-field col-md-6">
                                @Html.LabelFor(m => m.Bedrijf.Naam)
                                @Html.TextBoxFor(m => m.Bedrijf.Naam, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Bedrijf.Naam)
                            </div>
                            <div class="form-group input-field col-md-6">
                                @Html.LabelFor(m => m.Bedrijf.Adres)
                                @Html.TextBoxFor(m => m.Bedrijf.Adres, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Bedrijf.Adres)
                            </div>
                        </div>
                        <div class="row nomargin">
                            <div class="form-group input-field col-md-6">
                                @Html.LabelFor(m => m.Bedrijf.Postcode)
                                @Html.TextBoxFor(m => m.Bedrijf.Postcode, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Bedrijf.Postcode)
                            </div>
                            <div class="form-group input-field col-md-6">
                                @Html.LabelFor(m => m.Bedrijf.Plaats)
                                @Html.TextBoxFor(m => m.Bedrijf.Plaats, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Bedrijf.Plaats)
                            </div>
                        </div>
                        <div class="row nomargin">
                            <div class="form-group input-field col-md-6">
                                @Html.LabelFor(m => m.Bedrijf.Telefoonnummer)
                                @Html.TextBoxFor(m => m.Bedrijf.Telefoonnummer, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Bedrijf.Telefoonnummer)
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.Bedrijf.Id)
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="bottomform">
                <div class="row nomargin">
                    <center>
                        <h4>Werknemers</h4>
                    </center>
                    <table id="gebruikers" class="table striped table-hover tabel">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Voornaam</th>
                            <th>Achternaam</th>
                            <th>Telefoonnummer</th>
                            <th>Adres</th>
                            <th>Postcode</th>
                            <th>Woonplaats</th>
                            <th>Rol</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var gebruiker in Model.Gebruikers)
                        {
                            <tr>
                                <td>@gebruiker.Emailadres</td>
                                <td>@gebruiker.Voornaam</td>
                                <td>@gebruiker.Achternaam</td>
                                <td>@gebruiker.Telefoonnummer</td>
                                <td>@gebruiker.Adres</td>
                                <td>@gebruiker.Postcode</td>
                                <td>@gebruiker.Woonplaats</td>
                                <td>@gebruiker.Rol</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function() {
            @if (ViewBag.Success == "true")
            {
                @:toastr.success("Opgeslagen");
            }
            else if (ViewBag.Success == "false")
            {
                @:toastr.error("@ViewBag.Errormessage");
            }
        });
    </script>
    
<script>
        $(document).ready(function () {
            $('#gebruikers').dataTable({
                "language": {
                    "sProcessing": "Bezig...",
                    "sLengthMenu": "_MENU_ resultaten weergeven",
                    "sZeroRecords": "Geen resultaten gevonden",
                    "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                    "sInfoEmpty": "Geen resultaten om weer te geven",
                    "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                    "sInfoPostFix": "",
                    "sSearch": "Zoeken:",
                    "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                    "oPaginate": {
                        "sFirst": "Eerste",
                        "sLast": "Laatste",
                        "sNext": "Volgende",
                        "sPrevious": "Vorige"
                    },
                    "oAria": {
                        "sSortAscending": ": activeer om kolom oplopend te sorteren",
                        "sSortDescending": ": activeer om kolom aflopend te sorteren"
                    }
                }
            });
        });
</script>
}