@model P4P.ViewModel.Profiel
@{
    ViewBag.Title = "Mijn profiel";
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row">
    <div class="col-sm-6">
        <div class="card profiel">
            <center>
                <h3>Profiel</h3>
                <h4>Een overzicht van uw gegevens</h4>
            </center>

            @using (Html.BeginForm("Index", "Profiel"))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.gebruiker.Voornaam)
                    @Html.TextBoxFor(m => m.gebruiker.Voornaam, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.gebruiker.Voornaam)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.gebruiker.Achternaam)
                    @Html.TextBoxFor(m => m.gebruiker.Achternaam, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.gebruiker.Achternaam)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.gebruiker.Telefoonnummer)
                    @Html.TextBoxFor(m => m.gebruiker.Telefoonnummer, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.gebruiker.Telefoonnummer)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.gebruiker.Emailadres)
                    @Html.TextBoxFor(m => m.gebruiker.Emailadres, new { @class = "form-control", disabled = "True" })
                    @Html.ValidationMessageFor(m => m.gebruiker.Emailadres)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.gebruiker.Wachtwoord, "Wachtwoord bevestigen")
                    @Html.PasswordFor(m => m.gebruiker.Wachtwoord, new { @class = "form-control", required = "True" })
                    @Html.ValidationMessageFor(m => m.gebruiker.Wachtwoord)
                </div>
                @Html.AntiForgeryToken()
                <button id="opslaan" type="submit" class="btn btn-primary">Opslaan</button>
            }
            <div>@Html.ActionLink("Wachtwoord wijzigen", "Wachtwoord", "Profiel", null, new { @class = "btn btn-primary" })</div>
            <br/><a href="~/Winkel" class="btn btn-primary">Terug</a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card profiel">
            <center>
                <h3>Contacten</h3>
            </center>
            <ul class="collection">
                @foreach (var contact in Model.contacts)
                {
                    <li class="collection-item avatar">
                        <i class="material-icons circle">account_circle</i>
                        <span class="title">@contact.FirstName @contact.LastName</span>
                        <p style="color: #4caf50;">
                            @contact.Message
                            <br/>@contact.Email
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                }
            </ul>

        </div>
        </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
