@model P4P.Models.Gebruiker
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<h3>Login form</h3>
@if (ViewBag.Error != null)
{
    <h4>@ViewBag.Error</h4>
}

@using (Html.BeginForm("Login", "Profiel"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Emailadres)
        @Html.TextBoxFor(m => m.Emailadres, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Emailadres)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Wachtwoord)
        @Html.PasswordFor(m => m.Wachtwoord, new { @class = "form-control", required = "True"})
        @Html.ValidationMessageFor(m => m.Wachtwoord)
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Opslaan</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

