@model P4P.Models.Gebruiker
@{
    ViewBag.Title = "Setpassword";
}

<h2>Setpassword</h2>
@using (Html.BeginForm("Setpassword", "Profiel"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Wachtwoord)
        @Html.PasswordFor(m => m.Wachtwoord, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Wachtwoord)
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Opslaan</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
