@model P4P.Models.Gebruiker
@{
    ViewBag.Title = "Setpassword";
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />
<div class="center card profiel profiel2" style="min-height:35vh;">
    <h3>Stel uw wachtwoord in</h3>
    @using (Html.BeginForm("Setpassword", "Profiel"))
    {
        <div class="form-group tekstvak">
            @Html.LabelFor(m => m.Wachtwoord)
            @Html.PasswordFor(m => m.Wachtwoord, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Wachtwoord)
        </div>
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Opslaan</button>
    }
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
