@model P4P.Models.Favorietenlijst
@{
    ViewBag.Title = @Model.Naam;
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />
<div id="gebruiker-banner" class="parallax-container">
    <div class="parallax">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Overzicht_van_de_molen%2C_gezien_vanaf_het_weiland_-_Fransum_-_20420708_-_RCE.jpg" alt="Unsplashed background img 1">
    </div>
    <center>
        <h2>@Model.Naam</h2>
        <h4>Overzicht van favorietenlijst</h4>
    </center>
</div>
    <div class="row">
        @using (Html.BeginForm("BestelFavoriet", "Bestel"))
        {
                <div class="col-md-12">
                    <div class="card profiel smaller">
                        @if (Model.Producten.Any())
                        {
                            <h4>Producten in deze favorietenlijst</h4>
                            <div class="table-responsive">
                                <table class="table striped table-hover">
                                    <tr>
                                        <th>Productcode</th>
                                        <th>Productnaam</th>
                                        <th>Prijs</th>
                                        <th> </th>
                                    </tr>
                                    @foreach (var product in Model.Producten)
                                    {
                                        <tr>
                                            <td>@product.Id</td>
                                            <td><a href="~/Winkel/Artikelpagina/@product.Id">@product.Naam</a></td>
                                            <td>@product.Prijs</td>
                                            <td><a type="button" class="btn btn-danger red" href="@Url.Action("RemoveProd", "Favorieten", new {id = product.Id, id2 = Model.Id})" onclick="return confirm('Deze actie is permanent en kan niet ongedaan worden gemaakt!');"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            @Html.HiddenFor(m => m.Id)
                            <center>
                                <a href="~/Favorieten" class="btn">Terug</a>
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-primary">Bestellen</button>
                            </center>
                        }
                        else
                        {
                            <h4 class="center">Geen producten in deze favorietenlijst</h4>
                            <p class="center">Gaan naar een productpagina om producten toe te voegen.</p><br/>
                            <a href="~/Favorieten" class="btn">Terug</a>
                        }
                    </div>
                </div>  
        }
    </div>