@model IEnumerable<P4P.Models.Favorietenlijst>
@{
    ViewBag.Title = "Favorietenlijsten";
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />
<div id="gebruiker-banner" class="parallax-container">
    <div class="parallax">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Overzicht_van_de_molen%2C_gezien_vanaf_het_weiland_-_Fransum_-_20420708_-_RCE.jpg" alt="Unsplashed background img 1">
    </div>
    <center>
        <h2>Favorietenlijsten</h2>
        <h4>Overzicht van Favorietenlijsten</h4>
        <p>
            @Html.ActionLink("Nieuwe favorietenlijst", "Create", "Favorieten", null, new { @class = "btn btn-primary" })
        </p>
    </center>
</div>


    @if (!Model.Any())
    {
        <h4 class="center">Geen producten in deze favorietenlijst</h4>
    }
    else
    {
        <table id="favorieten" class="table striped table-hover">
            <thead>
            <tr>
                <th>Favorietenlijst nummer</th>
                <th>Naam</th>
                <th> </th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var favorietenlijst in Model)
            {
                <tr>
                    <td>@favorietenlijst.Id</td>
                    <td>@favorietenlijst.Naam</td>
                    <td>@Html.ActionLink("Openen", "Details", "Favorieten", new { favorietenlijst.Id }, new { @class = "btn btn-primary" })</td>
                    <td><a type="button" class="btn btn-danger red" href="@Url.Action("Delete","Favorieten", new { id = favorietenlijst.Id })" onclick="return confirm('Deze actie is permanent en kan niet ongedaan worden gemaakt!');"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            }
            </tbody>
        </table>
        <a href="~/Winkel" class="btn" style="margin-left:20px;">Terug</a>
    }

@section scripts {
    <script>
        $(document).ready(function () {
            $('#favorieten').dataTable({
                "language": {
                    "sProcessing": "Bezig...",
                    "sLengthMenu": "_MENU_ resultaten weergeven",
                    "sZeroRecords": "Geen resultaten gevonden",
                    "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                    "sInfoEmpty": "Geen resultaten om weer te geven",
                    "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                    "sInfoPostFix": "",
                    "sSearch": "Zoeken:",
                    "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                    "oPaginate": {
                        "sFirst": "Eerste",
                        "sLast": "Laatste",
                        "sNext": "Volgende",
                        "sPrevious": "Vorige"
                    },
                    "oAria": {
                        "sSortAscending": ": activeer om kolom oplopend te sorteren",
                        "sSortDescending": ": activeer om kolom aflopend te sorteren"
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            @if (ViewBag.Success == "true") {
                @:toastr.success("Opgeslagen");
            } else if (ViewBag.Success == "false") {
                @:toastr.error("@ViewBag.Errormessage");
            }
        });
    </script>
}
 
