@model P4P.Models.Melding
@{
    ViewBag.Title = "New";
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />

<center><h4>Nieuwe melding</h4>
    <p>
        @Html.ActionLink("Terug", "Index", "Melding", null, new { @class = "btn btn-primary" })
    </p></center>
<div class="card card-centered">
    @using (Html.BeginForm("Edit", "Melding", FormMethod.Post, new {id = "registerForm"}))
    {
        <div id="topform">
            <center>
                <h4>Melding</h4>
            </center>
            <div class="row nomargin">
                <div class="form-group input-field col-md-12">
                    @Html.LabelFor(m => m.Naam, new {@class = "labelfix"})
                    @Html.TextBoxFor(m => m.Naam, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Naam)
                </div>
            </div>
            <div class="row nomargin">
                <div class="form-group input-field col-md-12">
                    @Html.LabelFor(m => m.Message, new {@class = "labelfix"})
                    @Html.TextAreaFor(m => m.Message, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
            </div>
            <div class="row nomargin">
                <div class="form-group input-field col-md-12">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">Wijzigen</button>
                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}