@model IEnumerable<P4P.Models.Gebruiker>
@{
    ViewBag.Title = "Dashboard";
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />
<div id="gebruiker-banner" class="parallax-container">
    <div class="parallax">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Overzicht_van_de_molen%2C_gezien_vanaf_het_weiland_-_Fransum_-_20420708_-_RCE.jpg" alt="Unsplashed background img 1">
    </div>
    <center>
        <h2>Dashboard</h2>
        <h4>Overzicht van gebruikers</h4>
        <p>
            @Html.ActionLink("Nieuwe gebruiker", "Create", "Account", null, new { @class = "btn btn-primary" })
        </p>
    </center>
</div>

<table id="gebruikers" class="table striped table-hover">
    <thead>
    <tr>
        <th>Email</th>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Telefoonnummer</th>
        <th>Adres</th>
        <th>Postcode</th>
        <th>Woonplaats</th>
        <th>Rol</th>
        <th>Bedrijf</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var gebruiker in Model)
    {
        <tr>
            <td>@gebruiker.Emailadres</td>
            <td>@gebruiker.Voornaam</td>
            <td>@gebruiker.Achternaam</td>
            <td>@gebruiker.Telefoonnummer</td>
            <td>@gebruiker.Adres</td>
            <td>@gebruiker.Postcode</td>
            <td>@gebruiker.Woonplaats</td>
            <td>@gebruiker.Rol</td>
            <td>@gebruiker.Bedrijf.Naam</td>
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function() {
            $('#categorieen').dataTable({
                "language": {
                    "sProcessing": "Bezig...",
                    "sLengthMenu": "_MENU_ resultaten weergeven",
                    "sZeroRecords": "Geen resultaten gevonden",
                    "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                    "sInfoEmpty": "Geen resultaten om weer te geven",
                    "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                    "sInfoPostFix": "",
                    "sSearch": "Zoeken:",
                    "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                    "oPaginate": {
                        "sFirst": "Eerste",
                        "sLast": "Laatste",
                        "sNext": "Volgende",
                        "sPrevious": "Vorige"
                    },
                    "oAria": {
                        "sSortAscending": ": activeer om kolom oplopend te sorteren",
                        "sSortDescending": ": activeer om kolom aflopend te sorteren"
                    }
                }
            });
        });
    </script>
}