@model IEnumerable<P4P.Models.Gebruiker>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<h3>Overzicht van gebruikers</h3>

<p>
    @Html.ActionLink("Nieuwe gebruiker", "Create", "Account", null, new { @class = "btn btn-primary" })
</p>
<table id="gebruikers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Email</th>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Telefoonnummer</th>
        <th>Adres</th>
        <th>Postcode</th>
        <th>Woonplaats</th>
        <th>Rol</th>
        <th>Bedrijf</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var gebruiker in Model)
    {
        <tr>
            <td>@gebruiker.Emailadres</td>
            <td>@gebruiker.Voornaam</td>
            <td>@gebruiker.Achternaam</td>
            <td>@gebruiker.Telefoonnummer</td>
            <td>@gebruiker.Adres</td>
            <td>@gebruiker.Postcode</td>
            <td>@gebruiker.Woonplaats</td>
            <td>@gebruiker.Rol</td>
            <td>@gebruiker.Bedrijf.Naam</td>
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function() {
            $('#categorieen').dataTable({
                "language": {
                    "sProcessing": "Bezig...",
                    "sLengthMenu": "_MENU_ resultaten weergeven",
                    "sZeroRecords": "Geen resultaten gevonden",
                    "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                    "sInfoEmpty": "Geen resultaten om weer te geven",
                    "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                    "sInfoPostFix": "",
                    "sSearch": "Zoeken:",
                    "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                    "oPaginate": {
                        "sFirst": "Eerste",
                        "sLast": "Laatste",
                        "sNext": "Volgende",
                        "sPrevious": "Vorige"
                    },
                    "oAria": {
                        "sSortAscending": ": activeer om kolom oplopend te sorteren",
                        "sSortDescending": ": activeer om kolom aflopend te sorteren"
                    }
                }
            });
        });
    </script>
}