@model IEnumerable<P4P.Models.Winkelwagen>
@{
    ViewBag.Title = "Winkelwagen";
}
@*Op deze pagina ziet de gebruiker de inhoud van zijn/haar winkelwagen. De gebruikerkan hier de aantallen aanpassen en producten verwijderen. 
    Vervolgens kan de gebruiker op bestel klikken.*@

<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />
<div id="gebruiker-banner" class="parallax-container">
    <div class="parallax">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Overzicht_van_de_molen%2C_gezien_vanaf_het_weiland_-_Fransum_-_20420708_-_RCE.jpg" alt="Unsplashed background img 1">
    </div>
    <center>
        <h2 id="winkelwagen">Winkelwagen</h2>
        <h4>Overzicht van uw winkelwagen</h4>
    </center>
</div>

@using (Html.BeginForm("Index", "Bestel"))
{
    <div class="table-responsive">
        <table class="table striped table-hover tabel">
            <tr>
                <th>Productcode</th>
                <th>Productnaam</th>
                <th>Aantal</th>
                <th>Prijs</th>
            </tr>
            @{
                foreach(var p in Model)
                {
                    <tr>
                        <td>@p.Product.Code</td>
                        <td>@p.Product.Naam</td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(m => p.Aantal)
                                @Html.TextBoxFor(m => p.Aantal, new { @type = "Number"})
                                @Html.ValidationMessageFor(m => p.Aantal)
                            </div>
                        </td>
                        <td>€@p.Product.Prijs</td>
                        <td><button type="button" class="btn red"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                    </tr>
                }
            }
        </table>
    </div>
    @Html.AntiForgeryToken()
    <center><button type="submit" class="btn btn-primary">Bestellen</button></center>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

