@model IEnumerable<P4P.Models.Winkelwagen>
@{
    ViewBag.Title = "Winkelwagen";
}
@*Op deze pagina ziet de gebruiker de inhoud van zijn/haar winkelwagen. De gebruikerkan hier de aantallen aanpassen en producten verwijderen. 
    Vervolgens kan de gebruiker op bestel klikken.*@

<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />
<div id="gebruiker-banner" class="parallax-container">
    <div class="parallax">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Overzicht_van_de_molen%2C_gezien_vanaf_het_weiland_-_Fransum_-_20420708_-_RCE.jpg" alt="Unsplashed background img 1">
    </div>
    <center>
        <h2 id="winkelwagen">Winkelwagen</h2>
        <h4>Overzicht van uw winkelwagen</h4>
    </center>
</div>

@if (Model.Any())
{
    using (Html.BeginForm("Index", "Bestel"))
    {
        double totaalprijs = 0;
        <div class="table-responsive">
            <table class="table striped table-hover tabel">
                <tr>
                    <th>Productcode</th>
                    <th>Productnaam</th>
                    <th>Aantal</th>
                    <th>Prijs per stuk</th>
                    <th>Totaal</th>
                    <th> </th>
                </tr>
                @{
                    foreach (var p in Model)
                    {
                        double producttotaal = p.Product.Prijs * p.Aantal;
                        totaalprijs += producttotaal;
                        <tr>
                            <td>@p.Product.Code</td>
                            <td>@p.Product.Naam</td>
                            <td>
                                <div class="form-group">
                                    @Html.LabelFor(m => p.Aantal)
                                    @Html.TextBoxFor(m => p.Aantal, new {@type = "Number"})
                                    @Html.ValidationMessageFor(m => p.Aantal)
                                </div>
                                @*@Html.ActionLink("Opslaan", "UpdateAantal", "Bestel", new {id = p.Product.Id, aantal = p.Aantal}, null)*@

                                <!-- Modal Trigger -->
                                <div class="col-xs-2">
                                    <a class="btn btn-primary center" href="#modal1">Toevoegen aan favorieten</a>
                                </div>

                                <!-- Modal Structure -->
                                <div id="modal1" class="modal">
                                    <div class="modal-content">
                                        <h4>Modal Header</h4>
                                        <p>A bunch of text</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                                    </div>
                                </div>

                            </td>
                            <td>€@p.Product.Prijs</td>
                            <td>€@producttotaal</td>
                            <td><a type="button" class="btn btn-danger red" href="@Url.Action("Delete","Bestel", new { id = p.Product.Id })" onclick="return confirm('Deze actie is permanent en kan niet ongedaan worden gemaakt!');"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                    }
                }
            </table>
            <h4><center>Totaal: €@totaalprijs</center></h4>
        </div>
        @Html.AntiForgeryToken()
        <center><button type="submit" class="btn btn-primary">Bestellen</button></center>
    }
}
else
{
    <h4 class="center">Geen producten in winkelwagen</h4>
}

@section scripts
{
    <script>
        $(document).ready(function(){
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}

